@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Jost", system-ui, sans-serif;
  }
}
@layer base {
  :root {
    --color-bg: 255, 255, 255;
    --color-text: 0, 0, 0;
  }
  .dark {
    --color-bg: 23, 39, 72;
    --color-text: 255, 255, 255;
  }
}

:root {
  font-family: Jost, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  background-color: rgb(var(--color-bg));
  color: rgb(var(--color-text));
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


